src/main/mule/update-system-apidetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b32f1fd9-738b-4a4c-922b-af922c0c801b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="update-system-apidetailsFlow" doc:id="dd038214-f681-412e-ab31-9d3cca0227f7" >
		<http:listener doc:name="Listener" doc:id="ff6d06bd-f957-4ee4-8a36-b9c37a91af8b" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="8187c137-d095-48b3-a425-c83526387c27" message='" logged the message Successfully"'/>
		<set-payload value='#["Added the set payload to see the response"]' doc:name="Set Payload" doc:id="1716f9b8-5300-4338-98d8-4af26e91db93" />
	</flow>
</mule>
